body {
   background-color: rgb(236, 236, 236);
   font-family: 'Bangers', cursive;
}

.container {
   margin: 9.7rem auto;
   text-align: center;
}

.img {
   width: 100%;
   height: 175px;
   background: url('../img/404.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
}

.content h2 {
   font-size: 5rem;
}

.content p {
   font-size: 3rem;
   letter-spacing: 3px
}

.content button {
   font-size: 25px;
   letter-spacing: 2px;
}